.form__wrapper {
    
    & legend {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #D22856;
    }

    
}

.form__caption {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #283645;
    margin: 0;
    margin-top: 52px;
}

.form-name__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.label-name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #D22856;
    margin-right: 157px;
    margin-top: 16px;
    margin-bottom: 5px;
}

.label-name:first-child {
    margin-top: 55px;
}

.label-name:nth-child(3) {
    margin-right: 197px;
}

.input-name {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 276px;
    height: 59px;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
}

.input-name::placeholder {
    color: #283645;
    padding-left: 20px;
}

.label-opros {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
}

.label-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #D22856;
    text-transform: uppercase;
}

.label-desk {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
}

.form-achievemnt {
    border: 0;
    margin-top: 44px;
    background-color: #f2f2f2;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.achievemnt-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 42px;
}

.achievemnt-item__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.achievemnt-item__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.achievemnt-item__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    margin-right: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #FFFFFF;
}

.achievemnt-item__checkbox:checked+label::before {
    background-color: #FFFFFF;
    background-image: url(../img/checked.svg);
}

.achievemnt-item {
    margin-bottom: 47px;

    & label {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
}


.achievemnt-item:first-child {
    margin-top: 44px;
}

.achievemnt-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
}

.form-contact {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & div {
        display: flex;
        flex-flow: column-reverse;
    }
}

.form-contact__title {
    display: none;
}

.form-number {
    & label {
        margin-bottom: 10px;
        margin-left: 22px;
    }
}

.form-email {
    & label {
        margin-left: 22px;
        margin-bottom: 10px;
        margin-top: 22px;
    }
}


.form-app {
    border: 0;
    margin-top: 44px;
    background-color: #f2f2f2;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    flex-direction: column;

    & div {
        margin-top: 42px;
    }
}

.form-app__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.app-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
}

.app-item__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.app-item__radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.app-item__radio+label::before {
    content: '';
    display: inline-block;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
    margin-right: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #FFFFFF;
}

.app-item__radio:checked+label::before {
    background-color: #FFFFFF;
    background-image: url(../img/radio-checked.svg);
}

.app-item:first-child {
    margin-top: 40px;
}

.app-item:last-child {
    margin-bottom: 42px;
}

.app-item {
    margin-bottom: 38px;
}

.app-item label {
    margin-right: 94px;
}

.form-text {
    border: 0;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-bottom: 52px;

    & textarea {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 276px;
        height: 197px;
        border: 2px solid #E5E5E5;
        border-radius: 1px;
    }

    & textarea::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        padding-top: 22px;
        padding-left: 20px;
        color: #283645;
    }
}

.form-text__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.form__button {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #2aab6d;
    border: 2px solid #2aab6d;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
    padding: 23px 45px 23px 45px;
}

.form__desc {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 26px;
    margin-top: 46px;

    & span {
        color: #D22856;
    }
}